@model DOANCUOIKI.Models.Ban

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Ban</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLNguoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLNguoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.status == 1)
            {
                <text>Đã có khách</text>
            }
            else
            {
                <text>Trống</text>
            }
        </dd>
    </dl>
    
    <<form asp-action="DeleteConfirmed" asp-route-id="@Model.SoBan" method="post">
        <input type="hidden" asp-for="SoBan" />
        <p> Bạn có chắc chắn muốn xóa bàn số @Model.SoBan?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
