@model IEnumerable<DOANCUOIKI.Models.MonAn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiThucPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThucPham.TenLoaiTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.MaMon">Edit</a> |
                <a asp-action="Display" asp-route-id="@item.MaMon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaMon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
