@model DOANCUOIKI.Models.HoaDon

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayVao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayVao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayRa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayRa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdThanhToan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
