<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width,inital-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="sidebar-quanli">
        <ul class="sidebar-nav">
            <li>
                <a  href="@Url.Action("Index", "Ban")">Quản lí bàn</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "MonAn")">Quản lí món ăn</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "HTThanhToan")">Quản lí Thanh Toán</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "LoaiThucPham")">Quản lí Loại TP</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "HoaDon")">Quản lí Hóa Đơn</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CTHoaDon")">Quản lí CT_HD</a>
            </li>


            <!-- Thêm các mục menu khác tại đây -->
        </ul>
    </nav>


</body>
